.currentEmployeesSection {
    height: auto;
    width: auto;
    background-color: #579c6a;
    margin: auto;
}

.currentEmployeesBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.homeLink {
    color: rgb(8, 8, 167);
    font-weight: 600;
    transform: scale(1.1);
    text-align: center;
    justify-content: center;
    padding: auto;
    margin: 40px auto;
}