.currentEmployeesSection {
    background-color: #579c6a;
    height: auto;
}

.currentEmployeesBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: min-content;
    width: auto;
    margin: auto;
}

.tableEmployee {
    position: relative;
    width: auto;
}

.homeLink {
    color: rgb(12, 12, 99);
    font-weight: 600;
    text-align: center;
    justify-content: center;
    padding: auto;
    margin: 7% auto 0;
}

.homeLink:hover {
    color: rgb(8, 8, 167);
    transform: scale(1.1);
}
