form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    max-width: 500px;
    margin: 10px auto;
}

.simpleForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
}

h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 800;
}

.simpleFormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    width: 300px;
    height: 100%;
    margin: auto;
}

.label {
    font-weight: 700;
}

.field {
    height: 20px;
    width: 285px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 16px;    
}

.fieldName { 
    width: 295px;
    height: 20px;
    border-radius: 5px;
}

.fieldDate {
    height: 25px;
    width: 295px;
    border: 1.75px solid black;
    border-radius: 4px;
}

.birthDate, .startDate {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.fieldAdress {
    width: 280px;
    height: 20px;
    border-radius: 5px;
}

.fieldSelect, .fieldSelectState {
    display: flex;        
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 5px;
    font-size: 14px;
    border: 1.5px solid black;
}

.fieldSelect {
    height: 20px;
    width: 263px;
}

.fieldSelectState {
    height: 25px;
    width: 276px;
} 

.fieldSelectDepartement {
    display: flex;
    height: 25px;
    width: 300px;
    font-size: 14px;
    border-radius: 5px;
    border: 1.5px solid black;
}

input.form-control {
    width: 100%;
    height: 22px;
    border: 1px solid black;
    border-radius: 5px;
}

.address {
    width: 300px;
    margin: auto;
    padding-bottom: 20px;
    border: 1px solid black;
}

.titleAddress {
    width: 80px;
    margin-top: -30px;
    margin-left: 10px;
    padding: 0 10px;
    background-color: azure;
}

h3 {
    margin-left: 0px;
}

.addressForm  {
    margin: 7px;
    width: 280px;
}

.fieldSelectState {
    height: 26px;
    width: 285px;
    margin-top: 0;
    margin-bottom: 10px;
}

.fieldSelectDepartment {
    height: 26px;
    width: 290px;
    margin-top: 0;
    margin-bottom: 10px;
}

.choose option {
    font-style: darkgrey;
}

.buttonSave {
    margin: auto;
}

.buttonCreateForm {
    background-color: #44965a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.buttonCreateForm:hover {
    cursor: pointer;
    transform: scale(1.1);
}

