.simpleForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
}

h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 800;
}

.simpleFormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    width: 300px;
    height: 100%;
    margin: auto;
}

.label {
    font-weight: 700;
}

.field {
    height: 20px;
    width: 285px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 16px;    
}

.fieldSelect, .fieldSelectDepartment, .fieldSelectState {
    display: flex;        
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 5px;
    font-size: 16px;
}

.fieldSelect {
    height: 20px;
    width: 263px;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.rmdp-input {
    width: 285px;
    height: 22px;
    border: 1px solid black;
    border-radius: 5px;
}

.rmdp-container svg {
    margin-left: -40px;
}

.fieldSelectState {
    height: 25px;
    width: 276px;
}

.address {
    width: 300px;
    margin: auto;
    padding-bottom: 20px;
    border: 1px solid black;
}

.titleAddress {
    width: 80px;
    margin-top: -30px;
    margin-left: 10px;
    padding: 0 10px;
    background-color: azure;
}

h3 {
    margin-left: 0px;
}

.addressForm  {
    margin: 10px;
}

.addressForm .field {
    width: 265px;
}

.fieldSelectDepartment {
    height: 25px;
    width: 290px;
}

.choose option {
    font-style: darkgrey;
}

.buttonSave {
    margin: auto;
}

.buttonCreateForm {
    background-color: #44965a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.buttonCreateForm:hover {
    cursor: pointer;
    transform: scale(1.1);
}

