.headerCreate {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    flex: 0.25;
    margin-top: 20px;
    margin-left: 20px;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.logo img {
    height: 100px;
    width: 100px;
}

h1 {
    display: flex;
    flex: 3;
    justify-content: center;
    margin-top: 3%;
    margin-left: -9.5%;
    color: black;
    font-size: 36px;
    font-weight: 800;
}