.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    margin-left: 20px;
    row-gap: 20px;
}

.logo {
    display: flex;
    margin: auto;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.logo img {
    height: 100px;
    width: 100px;
}

h1 {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 3%;
    margin-left: -7.5%;
    color: black;
    font-size: 36px;
    font-weight: 800;
}