.tableEmployeesSection {
    width: 95%;
    height: 100vh;
    margin: 0 auto;
}

.tableEmployees {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px auto 0;
    padding: 40px 0;
    background-color: azure;
}

.searchLine {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 55%;
}

.tableSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40px;
    width: 100%;
    row-gap: 20px;
    text-align: center;
}

.headerGroup, .dataGroup {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.dataBody {
    display: flex;
    flex-direction: column;
    row-gap: 20px;    
}

.headerList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.headerGroup {    
    text-align: start ;
}

.dataHeader {
    height: 20px;
}

.iconArrow {
    height: 20px;
    color: black;
}

.dataBody {
    padding: 10px 0;
    border-top: 1px solid black;
    
}

.noDataText {
    display: block;
    justify-self: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(242, 236, 236);
    border-bottom: 1px solid black;
}

.dataList {
    padding: 0 10px;
}

.dataGroup {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.pageLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25%;
    margin: auto 30px;
}