.tableEmployeesSection {
    width: 95%;
    margin: 0 auto;
}

.tableEmployees {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px auto;
    padding: 40px 0;
    background-color: azure;
}

.searchLine {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 55%;
}

.tableSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40px;
    width: 100%;
    row-gap: 20px;
    text-align: center;
}

.headerGroup, .dataGroup {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.dataBody, .headerList {
    display: flex;
    flex-direction: column;
    row-gap: 20px;    
}

.headerGroup {
    text-align: start ;
}

.dataHeader {
    height: 20px;
}

.dataBody {
    padding: 10px 0;
    border-top: 1px solid black;
}

.dataList {
    padding: 0 10px;
}

.dataGroup {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.pageLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25%;
    margin: auto 30px;
}